@charset "utf-8";

*{
	margin:0;
	padding: 0;
}

html {
	height: 100%;
}

/*тело сайта*/

body {
	color:#FFFFFF; /*цвет текста*/
	background:url(../../images/fon.jpg);
	background-size: cover; /* Фон занимает всю доступную площадь */
	width: 100%;
	height: 100%;		
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 100%;

}

/*ссылки*/

a {
	color: #9A56EF; /*цвет ссылок*/
	text-decoration: none; /*ссылки без подчеркивания*/
	transition: all.6s ease; /*скорость отображение ссылок*/
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: #FFFFFF; /*цвет ссылок*/
	text-decoration: none; /*ссылки без подчеркивания*/
	transition: all.6s ease; /*скорость отображение ссылок*/
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {
	color: #701C1C; /*цвет ссылок*/
}

/*Текст на сайте*/

::selection {background: #999; color:#fff ; } /* цвет выделения текста*/
::-moz-selection {background: #9A56EF; color:#F2B1F8 ; }
::-webkit-selection {background: #9A56EF; color:#F2B1F8 ; }
::-ms-selection {background: #9A56EF; color:#F2B1F8 ; }

/*Изображения на сайте*/

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}


/*шапка*/

header {
	width: 100%;
	background: url(../../images/1.jpg);
	background-color: #000000;
	min-height: 50px;
	/*letter-spacing: пробелы между текстом*/
	font-family: Comic Sans MS, sans-serif; /*Формат шрифта*/
	font-size: 1.1em; /*размер шрифта*/
	line-height: 45px; /*отступ сверху*/
	text-indent: 10px; /*отступ слева*/		
	border-bottom: 2px solid gold;
	border-color: #999; /*цвет бордюров*/
}

@media screen and (max-width: 1000px) {
	header {
	min-height: 55px;
	}}

/* Меню */

.menu {
    text-align: left;
}

.menu__icon {
   display: none;
   width: 65px;
   height: 55px;
   position: relative;
   cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #999;
  border-radius: 9px;
  margin-top: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }
 .menu__icon span:nth-child(5) {
  top: 39px;
 }

.menu__links-item {
    display: inline-block;
    color: #999;
    font-family: Comic Sans MS, sans-serif;
    font-size: 18px;
    line-height: 0px; /*расстояние между текстом, столбик*/
    padding: 0 0px;
    /*text-transform: uppercase;*/ - /*капсом текст*/
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu.menu_state_open  .menu__icon span:nth-child(5) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;  
}

@media screen and (max-width: 1000px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 75px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links-item {
    display: block;
    padding: 30px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
  }
}

/*Контент в меню*/

#razdel {
	color: #999;
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.7em;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
	#razdel {
	font-size: 2.5em;
	}}

#wrapper {
	float: left;
	width: 100%;	
	margin-top: 20px; /*отступ сверху*/
}

#wrapper #articles {
	float: left;
	width: 80%;
	margin-left: 10%;
}

#wrapper #articles article {
	float: left;
	width: 98%;
	border: 1px solid silver;
	box-sizing: border-box;;
	border-radius: 5px;
	background-color: #fafafa;
	margin-right: 1%;
	min-height: 400px;
	margin-bottom: 15px;
	overflow: auto;	
	height: 840px;
}

@media screen and (max-width: 1000px) {
	#wrapper #articles article{
	height: 1550px;
	}}

#wrapper #articles article img {
	width: auto;
	height: auto; /*высоты картинки*/
	margin-bottom: 10px;
	margin-top: 10px;
}

#wrapper #articles article h3 {
	width: 98%; /*ширина текста*/
	margin-left: 1%;
	font-weight: /*normal*/;
	color: #7D7B7B;
	margin-top: 10px;
}

#wrapper #articles article p {
	width: 98%; /*ширина текста*/
	margin-left: 1%;
	font-size: 1.0em; /*размер шрифта*/
	color: #000000;
	margin-top: 5px; /*отступ сверху*/
	margin-bottom: 10px;
	line-height: 1.5em; /*расстояние между строками текста*/
}

/*подвал*/
footer {
	text-align: center;
	margin-top: 10px;
}

@media screen and (max-width: 1000px) {
	footer {
	font-size: 2em;
	}}

#page-wrap:after {
	content: "";
	display: block;
}

footer, page-wrap:after {
	height: 10px;
}

#page-wrap {
	min-height: 94%;
	margin-bottom: -1.5px ;
}
