@charset "utf-8";

*{
	margin:0;
	padding: 0;
}

html {
	height: 100%;
}

/*тело сайта*/

body {
	color:#FFFFFF; /*цвет текста*/
	background:url(../../images/z.jpg);
	background-size: cover; /* Фон занимает всю доступную площадь */
	width: 100%;
	height: 100%;		
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 100%;

}

/*ссылки*/

a {
	color: #9A56EF; /*цвет ссылок*/
	text-decoration: none; /*ссылки без подчеркивания*/
	transition: all.6s ease; /*скорость отображение ссылок*/
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: #582ADC; /*цвет ссылок*/
	text-decoration: none; /*ссылки без подчеркивания*/
	transition: all.6s ease; /*скорость отображение ссылок*/
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {
	color: #701C1C; /*цвет ссылок*/
}

/*Текст на сайте*/

::selection {background: #9A56EF; color:#F2B1F8 ; } /* цвет выделения текста*/
::-moz-selection {background: #9A56EF; color:#F2B1F8 ; }
::-webkit-selection {background: #9A56EF; color:#F2B1F8 ; }
::-ms-selection {background: #9A56EF; color:#F2B1F8 ; }

/*Изображения на сайте*/

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}


/*шапка*/

header {
	width: 100%;
	background: url(../../images/1.jpg);
	background-color: #6F5858;
	min-height: 50px;
	/**/
	font-family: Comic Sans MS, sans-serif; /*Формат шрифта*/
	font-size: 1.1em; /*размер шрифта*/
	line-height: 45px; /*отступ сверху*/
	text-indent: 10px; /*отступ слева*/		
	border-bottom: 2px solid gold;
	border-color: #DA0F0F; /*цвет бордюров*/
}

/*Навигация (меню)*/

#logo {
	color: #E77C7C; /*цвет ссылок*/
	text-decoration: none; /*ссылки без подчеркивания*/
	transition: all.6s ease; /*скорость отображение ссылок*/
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

#logo:hover {
	color: #1DE47F; /*цвет ссылок*/
	text-decoration: none; /*ссылки без подчеркивания*/
	transition: all.6s ease; /*скорость отображение ссылок*/
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

@media (max-width: 1000px) {
	#logo {
	font-size: 2.5em;
	}}


/*Контент*/

#razdel {
	color: #7D7B7B;
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.7em;
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
}

#wrapper {
	float: left;
	width: 100%;	
	margin-top: 20px; /*отступ сверху*/
}

#wrapper #articles {
	float: left;
	width: 80%;
	margin-left: 10%;
}

#wrapper #articles article {
	float: left;
	width: 98%;
	border: 1px solid silver;
	box-sizing: border-box;;
	border-radius: 5px;
	background-color: #fafafa;
	margin-right: 1%;
	min-height: 400px;
	margin-bottom: 15px;
	overflow: auto;
	height: 900px;
}

@media {
	#wrapper #articles article{
	height: 1550px;
	}}

#wrapper #articles article img {
	width: auto;
	height: auto; /*высоты картинки*/
	margin-bottom: 10px;
	margin-top: 10px;
}

#wrapper #articles article h3 {
	width: 98%; /*ширина текста*/
	margin-left: 1%;
	font-weight: /*normal*/;
	color: #7D7B7B;
	margin-top: 10px;
}

#wrapper #articles article p {
	width: 98%; /*ширина текста*/
	margin-left: 1%;
	font-size: 1.0em; /*размер шрифта*/
	color: #000000;
	margin-top: 5px; /*отступ сверху*/
	margin-bottom: 10px;
	line-height: 1.5em; /*расстояние между строками текста*/
}

/*подвал*/
footer {
	text-align: center;
	margin-top: 10px;
}

@media (max-width: 1000px) {
	footer {
	font-size: 2em;
	}}

#page-wrap:after {
	content: "";
	display: block;
}

footer, page-wrap:after {
	height: 10px;
}

#page-wrap {
	min-height: 94%;
	margin-bottom: -1.5px ;
}
